SPARK_VERSION=3.5.1
HADOOP_AWS_VERSION=3.3.4
AWS_SDK_BUNDLE_VERSION=1.12.262

JUPYTER_PORT=18888
JUPYTER_TOKEN=sparkstudent
SPARK_MASTER_UI_PORT=18088
SPARK_WORKER_1_UI_PORT=18089
SPARK_WORKER_2_UI_PORT=18090
SPARK_HISTORY_UI_PORT=18091
SPARK_DRIVER_UI_PORT_START=14040
SPARK_DRIVER_UI_PORT_END=14050

MINIO_API_PORT=19000
MINIO_CONSOLE_PORT=19001
MINIO_ROOT_USER=sparkstudent
MINIO_ROOT_PASSWORD=sparkstudent123
